<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Internet Manager</title>

  <!-- Bootstrap -->
  <link href="/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
  <!--<link href="/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-app="mainApp">
<div class="container">
<div data-ng-controller="LoginController as myCtrl">
  <div class="row">
    <div class="col-xs-6 col1" data-ng-include="'/app/views/header.html'"></div>
    <div class="col-xs-6 col2 text-center">
        <div data-ng-include="myCtrl.logout_path()"></div>
        <div data-ng-include="myCtrl.login_path()"></div>
    </div>
  </div>
</div>
  <hr>
<div data-ng-view></div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery/jquery-1.11.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
<script src="/lib/angularjs/angular.js"></script>
<script src="/lib/angularjs/angular-route.js"></script>
<script src="/lib/momentjs/moment-with-locales.js"></script>
<!--<script src="/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>-->
<script src="/lib/angular-ui/ui-bootstrap-tpls-0.12.1.min.js"></script>

<script src="/app/app.js"></script>
<script src="/app/modules/login/login_controller.js"></script>
<script src="/app/modules/internet_labs/internet_labs_controller.js"></script>
<script src="/app/modules/internet_labs/connection_service.js"></script>
<script src="/app/modules/login/login_service.js"></script>
<script src="/app/modules/login/login_interceptor.js"></script>
<script src="/app/modules/login/login_status_service.js"></script>

</body>
</html>
