<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Período de interrupção da internet</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <h1>Laboratório {{myCtrl.getFormData().lab}}</h1>
                <!--<form class="form-horizontal">-->
                    <!--<label>Horário de Início da interrupção</label>-->
                    <!--<input disabled class='form-control' data-ng-model="myCtrl.getFormData().start_time" type="text">-->
                    <!--<label>Horário de retorno da internet</label>-->
                    <!--<input class='form-control' data-ng-model="myCtrl.getFormData().end_time" type="text">-->
                <!--</form>-->

                    <hr>
                <div class="row">
                    <div class="col-md-offset-3 col-md-2">
                        <label>De</label>
                        <timepicker class="col-md-offset-2 col-md-2" readonly-input="true" ng-model="myCtrl.getFormData().start_time" ng-change="myCtrl.changed()" hour-step="myCtrl.timeOpt.start_time.mstep" minute-step="myCtrl.timeOpt.start_time.mstep" show-meridian="myCtrl.timeOpt.ismeridian"></timepicker>
                    </div>

                    <div class="col-md-offset-1 col-md-2">
                        <label>Até</label>
                        <timepicker class="col-md-offset-2 col-md-2" ng-model="myCtrl.getFormData().end_time" ng-change="myCtrl.changed()" hour-step="myCtrl.timeOpt.end_time.hstep" minute-step="myCtrl.timeOpt.end_time.mstep" show-meridian="myCtrl.timeOpt.ismeridian"></timepicker>
                    </div>
                </div>

                <!--<pre class="alert alert-info">Time is: {{myCtrl.getFormData().start_time | date:'shortTime' }}</pre>-->

                <!--<div class="row">-->
                    <!--<div class="col-xs-6">-->
                        <!--Hours step is:-->
                        <!--<select class="form-control" ng-model="myCtrl.timeOpt.hstep" ng-options="opt for opt in myCtrl.timeOpt.options.hstep"></select>-->
                    <!--</div>-->
                    <!--<div class="col-xs-6">-->
                        <!--Minutes step is:-->
                        <!--<select class="form-control" ng-model="myCtrl.timeOpt.mstep" ng-options="opt for opt in myCtrl.timeOpt.options.mstep"></select>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<hr>-->

                <!--<button class="btn btn-info" ng-click="myCtrl.toggleMode()">12H / 24H</button>-->
                <!--<button class="btn btn-default" ng-click="myCtrl.update()">Set to 14:00</button>-->
                <!--<button class="btn btn-danger" ng-click="myCtrl.clear()">Clear</button>-->


                <!--datetimepicker bootstrap sem angular-->
                <!--<div>-->
                    <!--<div class='col-md-5'>-->
                        <!--<div class="form-group">-->
                            <!--<div class='input-group date' id='datetimepicker6'>-->
                                <!--<input data-ng-model="myCtrl.getFormData().start_time" type='text' class="form-control" />-->
                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>-->
                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class='col-md-5'>-->
                        <!--<div class="form-group">-->
                            <!--<div class='input-group date' id='datetimepicker7'>-->
                                <!--<input data-ng-model="myCtrl.getFormData().start_end" type='text' class="form-control" />-->
                <!--<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>-->
                <!--</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<script type="text/javascript">-->
                    <!--$(function () {-->
                        <!--var picker1 = $('#datetimepicker6').datetimepicker({-->
                            <!--format: 'LT'-->
                        <!--});-->
                        <!--var picker2 = $('#datetimepicker7').datetimepicker({-->
                            <!--format: 'LT'-->
                        <!--});-->
                        <!--$("#datetimepicker6").on("dp.change",function (e) {-->
                            <!--$('#datetimepicker7').data("DateTimePicker").minDate(e.date);-->
                        <!--});-->
                        <!--$("#datetimepicker7").on("dp.change",function (e) {-->
                            <!--$('#datetimepicker6').data("DateTimePicker").maxDate(e.date);-->
                        <!--});-->
                    <!--});-->
                <!--</script>-->



            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Cancelar
                </button>
                <button data-ng-click="myCtrl.applyConnectionChanges()" type="button" class="btn btn-primary">
                    Aplicar
                </button>
            </div>
        </div>
    </div>
</div>