
<h3>Laboratórios ICT</h3>
<table class="table table-striped">
    <caption>Tabela com o status da internet em cada laboratório. Contém informações de número da sala do laboratório, se a internet está disponível e se, caso não esteja, quem a bloqueou e quando estará novamente disponível.</caption>
    <thead>
    <tr>
        <th>Laboratório</th>
        <th>Sala</th>
        <th>Status Internet</th>
        <th>Por</th>
        <th>De</th>
        <th>Até</th>

    </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="lab in myCtrl.labs">
            <td>
                {{lab.room_name}}
            </td>
            <td>
                {{lab.location}}
            </td>
            <td data-ng-include="myCtrl.editable()"></td>
            <td>
                {{lab.by}}
            </td>
            <td>
                {{lab.start_time}}
            </td>
            <td>
                {{lab.end_time}}
            </td>
        </tr>
    </tbody>
</table>

<div data-ng-include="myCtrl.modal_path()"></div>